body {
  margin: 0;
  box-sizing: border-box;
  background-color: #fcfbfc;
}

nav {
  height: 60px;
  display: flex;
  /* background-color: aqua; */
  padding: 10px 100px;
  align-items: center;
  font-size: 4vw;
}

.logo {
  max-height: 90%;
}

.title {
  margin-left: 20px;
}

.linkSection {
  height: 70px;
  display: flex;
  background-color: #007a33;
  flex-direction: row;
  padding-left: 100px;
  align-items: center;
  font-size: 1vw;
  color: white
}

.link {
  margin-right: 100px;
}

.searchJobs {
  max-width: 900px;
  height: 9vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  background-color: #ffd700;
  font-size: 1vw;
  align-content: center;
}

.jobCard {
  max-width: 900px;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  background-color: white;
  box-shadow: 2px 2px lightgrey;
  font-size: 1vw;
}